# (ignore archiso work and out dir)
archlive-install-server/releng/work/
archlive-install-server/releng/out/
#: (old)
#archlive-test/releng/work/
#archlive-test/releng/out/

# (ignore unmodified archiso dir)
archlive-unmodified-test/

# (exclude the archlive test iso)
archlive-install-server/releng/airootfs/root/archlive-target/archlinux-2014.11.01-dual.iso

# (exclude mounted and locks content from script-test)
script-test/images-mnt/*
script-test/locks/*
